#__svg_img_banner{
    img{
        width: 100%;
    }
}
#banner-section{
    padding: 10% 0;
}

#heading-wrapper{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    p{
        margin:0 !important;
    }
    
    h1{
        font-size: 3em;
        font-weight: 800;
        line-height: 1.4;
    }

    .span-tag{
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 3px;
        color: #2ea5fc;
        font-weight: 200;
    }
}

.partners-branding{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 0;

    img{
        width: 100px;
    }
}