
.about-heading-wrapper{
    
    margin: 11% 0;
    text-align: left;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;


	h1{
	    font-size: 4rem;
	    letter-spacing: 0;
	    text-transform: uppercase;
	    font-weight: 700;
	    margin: 0;
	    color: #000 !important;
	    position: relative;
	    z-index: 10;

	    span{
	        font-size: 4rem;
	    }

	    .span-blue{
	   	    background: -webkit-linear-gradient(#963df2, #0084ff);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
	    }
	}

	.subheading{
    	font-size: 17px;
	    text-transform: uppercase;
	    letter-spacing: 7px;
	    color: #60bdff;
    }
}

.about_us_banner{
	img{
		width: 600px;
	    padding: 7%;
	    transform: translateX(-25%);
	}
}

.about-us-page-content{
	    padding: 6% 0;
}

.about-us-page-content{

	.first-block{
		background: linear-gradient(to bottom right, #68b9f7, #0d6fbd);
	}
	.second-block{
		background: linear-gradient(to bottom right, #FF9800, #ff4700);
	}

	.third-block{
		background: #30347a;
	}

	.block{			
		padding: 8%;
    	border-radius: 13px;

    	height: 450px;
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-end;
	    align-items: flex-start;

		h1{
			color:#fff !important;
			font-size: 2rem;
		}
		p{
		   	font-size: 13px;
		    color: #fff !important;
		    margin: 2% 0 !important;
		}
	}
}

.our-team-contents{
	padding: 9% 0;
	border-bottom: 1px solid #eeee;
}

.sub-heading{
	font-style: italic;
    font-size: 14px;
}

.our-team-wraps{
	h1{
	    font-size: 4rem;
	    font-weight: 700;
	    line-height: 1;
	    
	    .dot{
	        color: #1890ff;
	    }	

	    &:after{
	    	content:"";
	    	width: 33%;
		    background: #eee;
		    height: 8px;
		    display: block;
		    margin: 5% 0;
		    background-image: linear-gradient(to bottom right, #bf30ef, #0072ff);
	    }
	}
}


.content-wrapper-info{
	padding-left: 21%;
}

.content-wrapper{

	text-align: center;
    max-width: 500px;
    margin: 6% auto;

    h1{
    	font-size: 3rem;
	    line-height: 1.3;
	    font-weight: 800;
    }
}

#about-upper-section{
	padding: 8% 0;
}

#accordions-wrapper{
    
    padding-left: 6%;

	.wrapper-blocks{
		h1{
		    line-height: 1.4;
		 /*   color: #1890ff !important;*/
		   /* background: -webkit-linear-gradient(#963df2, #0084ff);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;*/
		}

		p{
			font-size: 12px;
		}
		img{
			width: 23%;
		}
	}
}
		
	
.introduction-about-c2c{
	p{
		font-style: italic;
    	font-size: 14px;
	}
	h1{
		font-size: 2rem;
	    line-height: 1.2;
	    font-weight: 700;
	    background: -webkit-linear-gradient(#9a38ff, #0084ff);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	}
}


.service-block{
    
    padding: 6%;
    height: 600px;
    margin-bottom: 9%;
    display: flex;
    flex-direction: column;
    justify-content:center;

    h1{
    	color: #fff !important;
    	font-size: 2rem;
    }

    p{
    	color: #fff !important;
    }
    span{
        img{
    		width: 53px;
   		 }
    }
}

.services-wrapper{
	padding: 7% 0;
}