@media only screen and (max-width: 990px) {
 	

 	#navigation{
 		ul{
 			display: none !important;
		    justify-content: center !important;
		    align-items: center !important;
		    padding: 0;
		    margin: 0;
		    width: 100%;
		    position: fixed;
		    height: 100%;
		    background: #eee;
		    flex-direction: column;
		    top: 0;
		    z-index: 10;

		    li{
		    	a{
		    	    color: #000000;
				    text-decoration: none;
				    font-size: 1.5rem;	
		    	}
		    }
 		}
 	}

 	#burger-container{
 		display: block !important;
 	}

 	#banner-section{
 		
 	    padding: 13% !important;

 		#banner-container{
 			margin: 0 auto;
    		max-width: 700px;

    		.grid-two-col{
    			grid-template-columns: auto;
    		}
 		}

 		#heading-wrapper{
 			order:1;
 		}

 		#__svg_img_banner{
 			text-align: center;

 			img{
 				width: 50%;
 			}
 		}
 	}

 	#main-section{
 	   
 	    padding: 19% !important;

 		ul{
 			margin: 0 !important;
 			padding: 0 !important;
 			li{
 				&:before{
    				transform: translate(-27px, 12px) !important;
 				}
 			}
 		}

 		.img-wrapper{
 			text-align: center;
 			img{
 				width: 100%;
 			}
 		}
 	}

 	.partners-branding,
 	.section-lower-main{
 		padding: 0 13% !important;
 	}

 	#candely-section{
 		padding: 13% !important;
 	}

 	#section-services{
 		padding: 0 13%;

 		.icon-service{
 			text-align: center;

 			span{
 				margin: 0% auto !important;
 			}
 		}

 		h2{
 			margin-top: 2%;
 		}
 	}

	.parent-content-grid{
		order: 1 !important;
	}

	.image-lower-parent{
		display: none;
	}

	.lower-img-wrapper{
		margin: 16% 0;
	}	

	.candely-wrapper-button{
		&:before{
			content: ""!important;
		    height: 2px !important;
		    width: 87% !important;
		    display: block !important;
		    position: absolute !important;
		    transform: translate(0px, 0px) !important;
		    background: #03a9f426 !important;
		}
	}

	#footer{
		padding: 13% !important;
	}

	.button-defs{
	    padding: 6% 64px !important;
	    margin: 20% 0;
	}
}

@media only screen and (max-width: 650px) {
		
	#footer-navigation{
		ul{
			li{
				display: block !important;
			    padding: 12px !important;
			    background: #102831;
			    margin-bottom: 2%;
			    text-align: center;
			}
		}
	}

	.content-lower-wrapper{
		padding: 40px !important;
	}	
	
	#main-section .img-wrapper img{
		display: none !important;
	}


	#main-section {
		h1{
			font-size: 2rem;
			margin: 17% 0;
		}
	}
	#logo-span{
		img{
			width: 91px !important;
		}
	}

	.section-lower-main{
		#heading-lower-main{
		 	font-size: 1rem !important;
		 	   span{
		 	    	font-size: 2rem !important; 
		 	   }
		}
	}

	.content-lower-wrapper{
		h1{	
			line-height: 1.2;
		}
	}

	.section-lower-main{
		 #heading-lower-main{
		 	&:before{
		 		content: "";
			    width: 21%;
			    height: 3px;
			    display: block;
			    background: #03a9f44a;
			    margin-bottom: 9%;
		 	}
		}
	}

	#heading-wrapper{
		h1{
			font-size: 1.8em !important;
		}
	}

	.partners-branding{
		#partners-content{
		    font-size: 12px !important;
    		text-align: left;
		}
	}

	.social-media-container{
		display: flex;
	    flex-direction: row;
	    margin: 10% auto !important;
	    justify-content: space-between;
	    width: 71% !important;
	}

	#section-services{
		.sub-content{
			 margin: 24% auto !important;
		}
	}
}

@media only screen and (max-width: 550px) {

	#banner-section #__svg_img_banner img{
		display: none;
	}

	#section-services{
		h1{
			margin: 26% 0;
		}
	}

	.lower-img-wrapper{
		img{
			width: 246px;
    		max-width: fit-content;
		}
	}

	#main-section{
		ul{
			&:before{
				content: "" !important;
			    background: #03a9f4 !important;
			    height: 200px !important;
			    width: 1px !important;
			    display: block !important;
			    position: absolute !important;
			    transform: translate(-21px, 37px) !important;
			}
		}	
	}

	.partners-branding{
		img{
			width: 125px !important; 
    		padding: 0 9% !important;
		}
	}

	#navigation{
		display: grid;
    	grid-template-columns: 24% 1fr !important;
	}

}