

#section-services{
	text-align: center;
	
	h1{
		font-size: 3rem;
    	font-weight: 800;
	}
}
.icon-service{
	span{
		padding: 10px 14px;
	    border-radius: 4px;
	    display: flex;
	    justify-content: center;
	    max-width: 34px;
	    margin: 0 auto;
	    align-items: center;
	    img{
	    	width: 40px;
	    }
	}

}