
#section-services{

	background-image: url("../images/svg/ellipsis.svg");
	text-align: center;
    background-size: 100% 100%;
	background-position: center;
	
	h1{
		font-size: 3rem;
		font-weight: 800;
	}
}

.icon-service{

	display: block;
    text-align: center;


	span{

		padding: 13px 17px;
		border-radius: 19px;
		display: flex;
		justify-content: center;
		max-width: 64px;
		margin: 10% 0;
		align-items: center;
		height: 60px;
	    margin: 0 auto;
	   
	    img{
	    	width: 40px;
		}

	}

	h2{
		font-size: 18px;
		font-weight: 800;

		.block-elem{
			margin: 0;
			display: block;
			padding: 0;
			height: auto;
			max-width: 100%;
			font-size: 18px;
		}
	}
	.sub-content{
		font-size: 1.3rem;
		max-width: 500px;
		margin: 3% auto !important;
	}

	p{
	    font-size: 14px;
	}
}